@model ShowAllTopicViewModel

@section title {
<title>Show all topics</title>
}
@section scripts {
<script src="~/js/topic/showAll.js" defer></script>
}
@section styles {
<link rel="stylesheet" href="~/css/topic/showAll.css" />
}

@section body {
<div class="topic-table">
    <div class="topic-head">
        <div class="topic-description">Description</div>
        <div class="topic-post-count">Posts</div>
        <div class="topic-last-update">Last reply</div>
    </div>
    @if (Model.Count)
    {
    foreach (var element in Model.Topics)
    {
    <div class="topic-row">
        <div class="topic-description">
            <a class="href" asp-controller="Topic" asp-action="ShowTopic" asp-route-id="@element.Id">@element.Name</a>
            <br>
            <span>Started by <b><a>@element.User.Name</a></b> .</span>
        </div>
        <div class="topic-post-count">
            @element.Posts.Count posts
        </div>

        <div class="topic-last-update">
            @element.LastUpdate
        </div>
    </div>
    }
    }
    else
    {
    <div class="topic-row">
        <div class="topic-description">
            Topics don't exist yet
        </div>
    </div>
    }
    <div class="create-topic">
        <a class="href" asp-controller="Topic" asp-action="CreateTopic">Create new topic</a>
    </div>
</div>
}