@model ShowTopicViewModel

@section title {
<title>Show topic</title>
}
@section scripts {
<script src="~/js/topic/show.js" defer></script>
}
@section styles {
<link rel="stylesheet" href="~/css/topic/show.css" />
}

@section body {
<div class="topic-table">
    <div class="topic-head">
        <div class="topic-name">@Model.Name</div>
        <div class="topic-description">@Model.Description</div>
        <div class="topic-author"> Started by <a>@Model.User.Name</a></div>
    </div>
    @foreach (var element in Model.Posts)
    {
    <div class="post-row">
        <div class="post-info">
            <div class="user-email">
                @element.User.Email
            </div>
            <div class="user-name">
                @element.User.Name
            </div>
            <div class="user-created">
                @element.Created
            </div>
        </div>
        <div class="post-body">
            <div class="post-description">
                @element.Description
            </div>
            @if (element.IsUpdated)
            {
            <div class="post-updated">
                Updated at @element.Updated
            </div>
            }
            <div class="edit-post">
                <a class="href" asp-controller="Post" asp-action="EditPost" asp-route-id="@element.Id">Edit post</a>
            </div>
        </div>
    </div>
    }
    <div class="createPost">
        <a class="href" asp-controller="Post" asp-action="CreatePost" asp-route-id="@Model.Id">Create new post</a>
    </div>
</div>
}